/* import fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');

.App {
  text-align: center;
}

.title {
  font-size: 40px;
  font-family: 'Montserrat', sans-serif;
}

input[type=text] {
  font-size: large;
  border: none;
  border-bottom: 2px solid black;
}

button[type=submit] {
  border:none;
  background: none;
}



