/* Import fonts */
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');

#header {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
}

#header2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

.weather_container div{
  padding: 5px; /* Creates gap */
}

.weather_container div{
        display: inline-flex;
        height: 60px;
        width: 140px;
        background: #c3fafa;
        justify-content: center;
        align-items: center;
        font-family: 'Montserrat', sans-serif;
        margin: 5px; /* Creates gap */
        box-shadow: 5px 10px;
      }
